$fa-font-path: "~font-awesome/fonts";
@import 'theme';
@import '~font-awesome/scss/font-awesome.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-toastify/dist/ReactToastify.min.css';
@import 'overrides';
@import 'flex-center';
@import 'text';
@import 'toasts';

nav.bg-inverse {
  background: $brand-success !important;
  box-shadow: 0 15px 15px rgba(0,0,0,0.25);
  a {
    color: $white;
  }
}

hr {
  color: $white;
  background: $white;
}
html, body {
  // allows for easier vertical centering
  height: 100%;
}

.content {
  margin-left: 20px;
}

.online {
  color: green;
}

.offline {
  color: red;
}

table.messages{
  td {
    padding: 5px;
  }
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.full-width {
  width: 100%;
}

pre {
  background: $white;
  padding: 10px;
}
