// More material!
.card, .btn {
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.25);
}

// make square
.input, .card, .btn, .form-control {
  border-radius: 0;
}

.nav-link {
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;

  &:hover {
    color: #dedede;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
  }
}
