/* Position and sizing of burger button */
.bm-burger-button,
.off-canvas-open-button {
  position: fixed;
  display: inline;
  font-size: 2em;
  color: white;
  width: auto;
  top: 13px;
  padding: 0;
  margin: 0;
  left: 17px;
  height: auto;
  cursor: pointer;
  z-index: 1035;
}

.bm-menu-wrap {
  .bm-menu {
    background: rgb(40, 40, 40);
    color: white;
    padding: 0px;

    .bm-item-list {
      color: white;
      display: flex;
      padding: 0.8em;
      flex-direction: column;
    }
  }
}

.bm-overlay {
  z-index: 1034;
  background: rgba(0, 0, 0, 0.3);

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

.bm-cross-button {
  background: none;
  font-size: 24px;

  span {
    background: none;
  }

  button {
    display: none;
  }
}

.bm-menu-wrap:not([style*='translate3d']) {
  box-shadow: 10px 0 15px rgba(0,0,0,0.25);
}
