{
  "presets": [
    "react",
    "es2017",
    "stage-2",
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-async-to-generator"
  ],
  "env": {
   "test": {
     "plugins": ["transform-es2015-modules-commonjs"]
   }
 }
}
