.message {
  .message-header {
    display: block;

    strong {
      font-weight: 900;
    }
  }

  .message-content {
    font-weight: 400;
    color: #ccc;
  }

  &:hover {
    // #222 is $brand-inverse
    background: lighten(#222, 5%);
  }
}
