.message {
  opacity: 0.85;

  .message-header {
    display: block;

    strong {
      font-weight: 900;
    }
  }

  .message-content {
    font-weight: 400;
    color: #ccc;
  }

  &:hover {
    // #222 is $brand-inverse
    background: lighten(#222, 5%);
  }

  &.whisper {
    .message-header {
      color: gray;
      strong {
        font-style: italic;
      }
    }
    .message-content {
      color: gray;
    }
  }

  &.error {
    opacity: 1;
    background: #422;
  }

  &.success {
    opacity: 1;
    // background: #222;
  }
}
